<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>&copy; 2019 turinstops. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
