<div class="col-md-12 text-center">
  <h2>Stops</h2>
  <ng-map ng-if="stopsCtrl.showMap" id="stops-map" zoom="{{stopsCtrl.zoom}}" style="height:90%">
      <marker ng-repeat="marker in stopsCtrl.markers" position="{{marker.position}}" id="{{marker.stop.id}}"
      on-click="stopsCtrl.showDetailOnMap(marker.stop)">
      </custom>
    <info-window id="map-infowindow">
      <div ng-non-bindable="" class="">
        <div>
          {{stopsCtrl.stopInInfoWindow.name}}
          {{stopsCtrl.stopInInfoWindow.placeName}}
          {{stopsCtrl.stopInInfoWindow.lines}}
          {{stopsCtrl.stopInInfoWindow.location}}
          {{stopsCtrl.stopInInfoWindow.type}}
        </div>
        <div>
          <strong>departures</strong>
          <div ng-repeat="departure in stopsCtrl.stopInInfoWindow.departures">
            {{departure.line}} - {{departure.hour}} - realtime: {{departure.realtime}}
          </div>
        </div>
      </div>
    </info-window>
  </ng-map>
</div>
